.wrapper-game {
	min-height: 86vh;
	text-align: center;
	margin: 0;
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #ffffff;
	background-image: url('/bg_game.jpg');
	background-attachment: fixed;
	background-size: cover;
}

:focus {
	outline-color: var(--black);
}

.title-game {
	color: var(--black);
	margin-top: 0;
	line-height: 1;
	font-size: clamp(1.5rem, 2vw + 1.6rem, 4rem);
	margin: 3rem 0 3rem 0;
	position: relative;
}

.title-game span {
	position: absolute;
	bottom: clamp(0.75rem, 2vw + 1.3rem, 2rem);
}

.game-info {
	font-size: clamp(1rem, 1vw + 1rem, 2rem);
	font-weight: 600;
	display: grid;
	grid-template-columns: 15% auto auto 15%;
}

.time-left,
.current-score {
	background: var(--grey);
}

.current-score {
	border-radius: 10px 0 0 10px;
}

@media (max-width: 750px) {
	.game-info {
		grid-template-columns: 1fr 150px 150px;
	}
}

.words {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 10%;
}

.words button {
	color: #000;
	flex: 1;
	padding: 1rem;
	margin: 0.25rem;
	font-size: clamp(0.9rem, 1.1vw + 0.7rem, 3rem);
	font-weight: 900;
	background: #14f0949c;
	border-radius: 10px;
}

.button-start,
.button-scores {
	margin: 0.5rem 0.5rem;
}

#container-game {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 15px auto;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

#btn:hover {
	cursor: pointer;
}

#box-game {
	border: 1px solid black;
	width: 100%;
	height: 70px;
	border-radius: 10px;
	background-color: rgba(144, 238, 144, 0.632);
	box-shadow: 1px 1px 5px 1px #aaa;
	overflow: hidden;
}

#btn-container {
	height: 90px;
	bottom: 0px;
}

#btn-next {
	padding: 10px 20px;
	margin: 0px auto;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: rgb(1, 162, 216);
	font-size: 22px;
	color: #fff;
}

#btn:focus {
	border: none;
	outline: none;
}

@media only screen and (max-width: 600px) {
	#container-game {
		margin-top: 5px;
		width: 98%;
	}

	#box-game {
		margin-top: 5px;
		margin-bottom: 25px;
	}
}
@media only screen and (max-width: 967px) {
	#container-game {
		margin-top: 5px;
		width: 90%;
	}
}
/* end of media query */

.button-start,
.button-scores {
	color: #ffffff;
	background-color: #fb4560;
	padding: 1rem;
	border: 2px solid #000000;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 600;
	font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
	transition: transform 0.2s;
	font-family: inherit;
	line-height: 1.15;
}

.button-start {
	background-color: #499f36;
}
.words span {
	color: #000000;
	flex: 1;
	padding: 1rem;
	margin: 0.25rem;
	font-size: clamp(0.9rem, 1.1vw + 0.7rem, 3rem);
	font-weight: 900;
	background: #14f0949c;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
}
.wrapper-answer {
	display: flex;
	flex: 0 auto;
	/* flex-wrap: wrap; */
	width: 100%;
	/* margin: 50px 10%; */
}
.answer-info {
	color: #000;
	flex-basis: auto;
	padding: 0.6rem 2rem;
	margin: 0.25rem;
	font-size: clamp(0.9rem, 1.1vw + 0.7rem, 3rem);
	font-weight: 900;
	background-color: #059e5e9c;
	border-radius: 10px;
	position: relative;
	bottom: 70px;
	margin-bottom: -65px;
}
