.wrapper-game {
	min-height: 86vh;
	text-align: center;
	margin: 0;
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #ffffff;
	background-image: url('/bg_game.jpg');
	background-attachment: fixed;
	background-size: cover;
}

:focus {
	outline-color: var(--black);
}

.title-game {
	color: var(--black);
	margin-top: 0;
	line-height: 1;
	font-size: clamp(1.5rem, 2vw + 1.6rem, 4rem);
	margin: 2rem 0 3rem 0;
	position: relative;
}

.game-info {
	font-size: clamp(1rem, 1vw + 1rem, 2rem);
	font-weight: 600;

	/* padding: 2rem; */
	display: grid;
	grid-template-columns: 15% auto auto 15%;
}

.time-left,
.current-score {
	background: var(--grey);
}

.current-score {
	border-radius: 10px 0 0 10px;
}

@media (max-width: 750px) {
	.game-info {
		grid-template-columns: 1fr 150px 150px;
	}
}

.words {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 5vw;
}

.button-start,
.button-scores {
	margin: 0.5rem 0.5rem;
}

#container-game-answer {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 15px auto;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

#box-game-answer {
	border: 1px solid black;
	width: 100%;
	height: 100px;
	border-radius: 10px;
	background-color: rgba(144, 238, 144, 0.632);
	box-shadow: 1px 1px 5px 1px #aaa;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	#container-game {
		margin-top: 5px;
		width: 300px;
	}

	#box-game {
		margin-top: 5px;
		margin-bottom: 25px;
	}
} /* end of media query */

.button-start,
.button-scores,
.button-next-ques,
#button-check {
	color: #ffffff;
	background: #fb4560;
	padding: 1rem;
	border: 2px solid #000000;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 600;
	font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
	transition: transform 0.2s;
	font-family: inherit;
	line-height: 1.15;
}
.button-start,
#button-check {
	background-color: #499f36;
}
.button-next-ques {
	margin-left: 0.5rem;
	background-color: rgb(1, 162, 216);
}
.words button {
	color: #000000;
	flex: 1;
	padding: 1rem;
	margin: 0.25rem;
	font-size: clamp(0.9rem, 1.1vw + 0.7rem, 3rem);
	font-weight: 900;
	background: #14f0949c;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
}
.grid {
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	grid-column-gap: 4rem;
	padding: 0 2rem;
}
.words {
	/* width: 100%; */
	display: flex;
	justify-content: center;
}

.question {
	color: #000000;
	font-size: clamp(0.9rem, 1.1vw + 0.7rem, 3rem);
	font-weight: 900;
	border-radius: 10px;
}
