body {
	margin: 0;
	/* color: #6a6f8c;
    background: #c8c8c8; */
	font-family: 'Open Sans', sans-serif;
}
*,
:after,
:before {
	box-sizing: border-box;
	/* border-radius: 4vh; */
}
a {
	color: inherit;
	font-weight: 800;
	text-decoration: none;
}
