%display {
	display: flex;
	align-items: center;
}

.book-store {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	height: 150vh;
	background-color: var(--page-bg-color);
	margin: 50px auto;
	overflow: hidden;
	box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
}

.book {
	background: #fff;
}

.flickity-page-dots {
	display: none;
}

.flickity-prev-next-button .arrow {
	fill: #d6d6d6;
}

.flickity-prev-next-button svg {
	left: 25%;
	top: 25%;
	width: 50%;
	height: 50%;
}

.flickity-prev-next-button {
	&.previous {
		left: 15px;
	}
	&.next {
		right: 15px;
	}
}

.flickity-viewport {
	overflow: visible;
}

h1 {
	font-size: 0.5em;
	margin: 10px;
}

.blue > input:checked ~ label,
.blue:not(:checked) > label:hover,
.blue:not(:checked) > label:hover ~ label {
	color: #458997;
}
.blue > input:checked + label:hover,
.blue > input:checked ~ label:hover,
.blue > label:hover ~ input:checked ~ label,
.blue > input:checked ~ label:hover ~ label {
	color: #458997;
}

.purple > input:checked ~ label,
.purple:not(:checked) > label:hover,
.purple:not(:checked) > label:hover ~ label {
	color: #a76287;
}
.purple > input:checked + label:hover,
.purple > input:checked ~ label:hover,
.purple > label:hover ~ input:checked ~ label,
.purple > input:checked ~ label:hover ~ label {
	color: #a76287;
}

.yellow > input:checked ~ label,
.yellow:not(:checked) > label:hover,
.yellow:not(:checked) > label:hover ~ label {
	color: #ffad58;
}
.yellow > input:checked + label:hover,
.yellow > input:checked ~ label:hover,
.yellow > label:hover ~ input:checked ~ label,
.yellow > input:checked ~ label:hover ~ label {
	color: #ffad58;
}

.dark-purp > input:checked ~ label,
.dark-purp:not(:checked) > label:hover,
.dark-purp:not(:checked) > label:hover ~ label {
	color: #905587;
}
.dark-purp > input:checked + label:hover,
.dark-purp > input:checked ~ label:hover,
.dark-purp > label:hover ~ input:checked ~ label,
.dark-purp > input:checked ~ label:hover ~ label {
	color: #905587;
}

.main-wrapper {
	width: 100%;
	display: flex;
	flex-grow: 1;
	margin-top: 100px;
	overflow: hidden;
}

.book-by {
	font-size: 13px;
	color: var(--body-color-light);
	margin-top: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.book-rate > label {
	color: #cccccc;
}

.book-rate > input:checked ~ label,
.book-rate:not(:checked) > label:hover,
.book-rate:not(:checked) > label:hover ~ label {
	color: #ff9700;
}
.book-rate > input:checked + label:hover,
.book-rate > input:checked ~ label:hover,
.book-rate > label:hover ~ input:checked ~ label,
.book-rate > input:checked ~ label:hover ~ label {
	color: #ff9700;
}

.content-wrapper {
	display: flex;
	border-bottom: 1px solid #ebedef;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		background-color: #8f98a9;
		background-color: #aaaebc;
		box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
		width: 4px;
		height: 4px;
		border: 0;
		padding: 0;
		right: 12px;
		top: 17px;
		border-radius: 50%;
		margin-left: auto;
	}
}

@media (max-width: 1103px) {
	.book-cell {
		width: 60%;
	}
}

@media (max-width: 765px) {
	.book-cell {
		width: 80%;
	}
}

@media (max-width: 575px) {
	.book-cell {
		width: 100%;
	}
}

@media (max-width: 420px) {
	.main-wrapper {
		margin-top: 50px;
	}
}

@media (max-width: 1085px) {
	.book-rate > label {
		font-size: 0.7em;
	}
}

@media (max-width: 725px) {
	.book-cards {
		grid-template-columns: 1fr;
	}
	.book-types {
		display: none;
	}
}
