.header {
	display: flex;
	align-items: center;
	height: 70px;
	width: 100%;
	background-color: #ffffff;
	padding: 0 30px;
	font-size: 14px;
	font-weight: 500;
	color: var(--body-color-light);
	justify-content: space-between;
	flex-shrink: 0;
}
.browse {
	display: flex;
	align-items: center;
	&-category {
		display: flex;
		align-items: center;
		border-right: 1px solid var(--border-color);
		white-space: nowrap;
	}
}
.search-bar {
	position: relative;
	input {
		height: 100%;
		width: 100%;
		display: block;
		background-color: transparent;
		border: none;
		font-weight: 600;
		padding: 0 10px 0 40px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%238b939c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-size: 15px;
		background-position: 15px 50%;
		color: var(--body-color);
		font-family: var(--body-font);
		&::placeholder {
			color: var(--placeholder);
		}
	}
}
.header-title {
	font-size: 16px;
	font-weight: 400;
	margin-right: 120px;
	span {
		font-weight: 500;
		color: var(--body-color);
	}
}
.user-profile {
	position: relative;
	cursor: pointer;
	flex-shrink: 0;
	&:before {
		content: '';
		position: absolute;
		background-color: #f86d72;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		border: 2px solid var(--theme-bg-color);
		right: 12px;
		top: -3px;
		border: 2px solid #fff;
	}
}

.profile {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	&-menu {
		display: flex;
		align-items: center;
		border-left: 1px solid var(--border-color);
	}
}
.user-img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 15px;
}
@media (max-width: 725px) {
	.browse-category,
	.search-bar {
		display: none;
	}

	.header-title {
		margin-right: auto;
	}
}
