.header {
	display: flex;
	align-items: center;
	height: 70px;
	width: 100%;
	background-color: #ffffff;
	padding: 0 30px;
	font-size: 14px;
	font-weight: 500;
	color: var(--body-color-light);
	justify-content: space-between;
	flex-shrink: 0;
}
.browse {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	&-category {
		display: flex;
		align-items: center;
		border-right: 1px solid var(--border-color);
		white-space: nowrap;
	}
}
.list-dropdown{
	z-index: 99;
	position: absolute;
	// right: 50%;
	top: 110%;
	background-color: #ff999d;
	color: #242424;
	border-radius: 0 0 20px 20px;
	width: 85%;
	padding: 0 10px;
}
.list-dropdown li {
	padding: 10px 5px;
	border-top: 1px solid #9f9f9f;
}

.list-dropdown li:hover{
	border-radius: 20px;
	background-color: #fd797d;

}
.search-bar {
	position: relative;
	width: 400px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	input {
		height: 100%;
		width: 60%;
		// display: block;
		background-color: transparent;
		border: none;
		font-weight: 600;
		padding: 0 10px 0 10px;

		background-repeat: no-repeat;
		background-size: 15px;
		background-position: 15px 50%;
		color: var(--body-color);
		font-family: var(--body-font);
		&::placeholder {
			color: var(--placeholder);
		}
	}
}
.header-title {
	font-size: 16px;
	font-weight: 400;
	margin-right: 120px;
	span {
		font-weight: 500;
		color: var(--body-color);
	}
}
.user-profile {
	position: relative;
	cursor: pointer;
	flex-shrink: 0;
	&:before {
		content: '';
		position: absolute;
		background-color: #f86d72;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		border: 2px solid var(--theme-bg-color);
		right: 12px;
		top: -3px;
		border: 2px solid #fff;
	}
}

.profile {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	&-menu {
		display: flex;
		align-items: center;
		border-left: 1px solid var(--border-color);
	}
}
.user-img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 15px;
}
@media (max-width: 725px) {
	.browse-category,
	.search-bar {
		display: none;
	}

	.header-title {
		margin-right: auto;
	}
}
